In [50]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn import datasets, model_selection, tree

In [52]:
df = pd.read_csv("https://bit.ly/UsersBehaviourTelco")
df.head()

   calls  minutes  messages   mb_used  is_ultra
0   40.0   311.90      83.0  19915.42         0
1   85.0   516.75      56.0  22696.96         0
2   77.0   467.66      86.0  21060.45         0
3  106.0   745.53      81.0   8437.39         1
4   66.0   418.74       1.0  14502.75         0

In [14]:
df.tail()

      calls  minutes  messages   mb_used  is_ultra
3209  122.0   910.98      20.0  35124.90         1
3210   25.0   190.36       0.0   3275.61         0
3211   97.0   634.44      70.0  13974.06         0
3212   64.0   462.32      90.0  31239.78         0
3213   80.0   566.09       6.0  29480.52         1

In [15]:
df.shape

(3214, 5)

In [16]:
df.describe()

             calls      minutes     messages       mb_used     is_ultra
count  3214.000000  3214.000000  3214.000000   3214.000000  3214.000000
mean     63.038892   438.208787    38.281269  17207.673836     0.306472
std      33.236368   234.569872    36.148326   7570.968246     0.461100
min       0.000000     0.000000     0.000000      0.000000     0.000000
25%      40.000000   274.575000     9.000000  12491.902500     0.000000
50%      62.000000   430.600000    30.000000  16943.235000     0.000000
75%      82.000000   571.927500    57.000000  21424.700000     1.000000
max     244.000000  1632.060000   224.000000  49745.730000     1.000000

In [17]:
df.columns = df.columns.str.strip()

In [18]:
df.dtypes

calls       float64
minutes     float64
messages    float64
mb_used     float64
is_ultra      int64
dtype: object

In [53]:
df["is_ultra"] = df["is_ultra"].astype(np.float64)
df.dtypes

calls       float64
minutes     float64
messages    float64
mb_used     float64
is_ultra    float64
dtype: object

In [21]:
df.isnull().any()

calls       False
minutes     False
messages    False
mb_used     False
is_ultra    False
dtype: bool

In [22]:
df = df[df.duplicated()]
sum(df.duplicated())

0

In [32]:
#trained model
x_train = df.drop(['is_ultra'], axis=1)
y_train = df['is_ultra']

model = DecisionTreeClassifier()

model.fit(x_train, y_train)

print(model)

DecisionTreeClassifier()

In [54]:
y=df["is_ultra"] #dependent variable
X=df.drop(["is_ultra"],axis=1) #independent variables

X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.30, random_state=42)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(2249, 4)
(2249,)
(965, 4)
(965,)

In [43]:
df_train, df_valid = train_test_split(df, test_size=0.25, random_state=12345)

features_train = df_train.drop(['is_ultra'], axis=1)
target_train = df_train['is_ultra']
features_valid = df_valid.drop(['is_ultra'], axis=1)
target_valid = df_valid['is_ultra']

for depth in range(1, 6):
    model = DecisionTreeClassifier(random_state=12345, max_depth=depth)
    model.fit(features_train, target_train)
    predictions_valid = model.predict(features_valid)
    print('max_depth =', depth, ': ', end='')
    print(accuracy_score(target_valid, predictions_valid))

max_depth = 1 : 0.75
max_depth = 2 : 0.7835820895522388
max_depth = 3 : 0.7885572139303483
max_depth = 4 : 0.7810945273631841
max_depth = 5 : 0.7810945273631841